* {
  font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
body {
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .table {
    tr {
      display: flex;
      flex-direction: column;
      border-bottom: 5px solid #2196f3;
    }
    td,
    th {
      display: flex;
    }
  }
}
@media (min-width: 768px) {
  .navbar {
    box-shadow: 5px 2px 5px 0 rgba(0, 0, 0, 0.16),
      10px 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
  }
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .navbar-container .navbar-collapse {
    align-items: flex-start;
  }
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {
    flex-direction: column !important;
  }
}
.breadcrumb {
  margin-top: 1rem;
  border-radius: 0;
}
.breadcrumb-item {
  &::before {
    color: #eeeeee !important;
  }

  &.active {
    color: #eeeeee;
  }
}
.nav-item {
  button.nav-item {
    background: none;
    border: none;
    padding: 8px;
    font-weight: 200;
  }
}
li.nav-item {
  transition: all 200ms;
  border-left: 3px solid transparent;
  &:hover,
  &:target {
    border-left: 3px solid #4285f4;
  }
}
